{% load static %} <!-- Загрузка тега static для работы с статическими файлами -->
<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Онлайн-галерея произведений искусств</title> 
    <link rel="stylesheet" href="{% static 'app\css\styles.css' %}"> <!-- Подключение внешнего CSS-файла для стилизации страницы -->
</head>
<body class="{{ selected_theme }}"> <!-- Начало секции body, содержащей основной контент страницы, с применением выбранной темы -->
    <h1>Выберите жанр картины</h1> 
    <form method="post" action="{% url 'gallery:select_genre' %}"> <!-- Форма для выбора жанра фильма, отправляющая данные методом POST -->
      {% csrf_token %} <!-- Вставка CSRF-токена для защиты формы -->
      <label for="genre">Жанр:</label> 
        <select name="genre" id="genre"> 
            <option value="nothing">Не выбрано</option> 
            <option value="portrait">Портрет</option> 
            <option value="still-life">Натюрморт</option>
            <option value="landscape">Пейзаж</option> 
        </select>
        <button type="submit">Выбрать</button> 
    </form>
    <h2>Выберите тему</h2> 
    <form method="post" action="{% url 'gallery:select_theme' %}"> <!-- Форма для выбора темы, отправляющая данные методом POST -->
      {% csrf_token %} <!-- Вставка CSRF-токена для защиты формы -->
      <label for="theme">Тема:</label> 
        <select name="theme" id="theme">
            <option value="light">Светлая</option> 
            <option value="dark">Темная</option> 
        </select>
        <button type="submit">Выбрать</button>
    </form>

    <div id="content"> 
        <p>Выбранный жанр: {{ selected_genre }}</p> <!-- Отображение выбранного жанра -->
        {% if selected_genre == 'portrait' %} <!-- Условие для отображения контента, если выбран жанр "Экшен" -->
            <h2>Портрет</h2>  
            <p>Жанр портрета — это один из самых древних и популярных жанров в изобразительном искусстве, 
              который фокусируется на изображении человека или группы людей. Портрет стремится передать не только внешние 
              черты модели, но и её внутренний мир, характер, эмоции и социальный статус. </p>
        {% elif selected_genre == 'still-life' %} <!-- Условие для отображения контента, если выбран жанр "Комедия" -->
            <h2>Натюрморт</h2> 
            <p>Натюрморт — это жанр изобразительного искусства, который фокусируется на изображении неодушевленных предметов.
             Этот жанр позволяет художникам исследовать форму, цвет, текстуру и композицию, а также передавать символическое значение
             объектов. </p>
        {% elif selected_genre == 'landscape' %} <!-- Условие для отображения контента, если выбран жанр "Драма" -->
            <h2>Пейзаж</h2>
            <p>Пейзаж — это жанр изобразительного искусства, который фокусируется на изображении природы и окружающей среды. 
              Пейзаж может включать в себя различные элементы, такие как горы, реки, леса, поля, моря, небо и архитектурные 
              сооружения</p>
        {% endif %}